{# templates/connecteur/edit.html.twig #}
{% extends 'layout/project_layout.html.twig' %}

{% set container_margin = false %} {# Pas de mt-4 ici #}

{% block title %}Modifier un connecteur - {{ projet.nom }}{% endblock %}

{% block page_content %}
    <h1 class="text-white">Modifier le connecteur pour {{ projet.nom }}</h1>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.catalogueProjetConnecteurs, {'attr': {'class': 'form-select'}}) }}
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary me-2">Enregistrer</button>
            <a href="{{ path('connecteur_list', {'projetId': projet.id}) }}" class="btn btn-secondary">Retour à la liste</a>
        </div>
    {{ form_end(form) }}
{% endblock %}
