{% extends 'base_list_catalogue.html.twig' %}

{% block list_title %}Catalogue des types de câbles - {{ projet.nom }}{% endblock %}

{% block page_header %}Catalogue des types de câbles pour {{ projet.nom }}{% endblock %}

{% block item_type %}câble(s){% endblock %}

{% block specific_buttons %}
    <div class="col-auto">
        <a href="{{ path('projet_show', {'id': projet.id}) }}" class="btn btn-secondary">Retour à {{ projet.nom }}</a>
    </div>
    {% if is_granted('CAN_EDIT_CABLES', projet) %}
        <div class="col-auto">
            <a href="{{ path('catalogue_projet_cables_new', {'projetId': projet.id}) }}" class="btn btn-primary">Ajouter un type de câble</a>
        </div>
        <div class="col-auto">
            <form method="post" action="{{ path('catalogue_projet_cables_import', {'projetId': projet.id}) }}" style="display:inline;" onsubmit="return confirm('Importer les nouveaux câbles du catalogue modèle ? Les câbles existants resteront inchangés.');">
                <input type="hidden" name="_token" value="{{ csrf_token('import_cables_' ~ projet.id) }}">
                <button type="submit" class="btn btn-primary">Importer les nouveaux modèles de câbles</button>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block filter_fields %}
    <div class="col">{{ form_row(filter_form.nom, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col">{{ form_row(filter_form.type, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col">{{ form_row(filter_form.nbConducteurs, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col">{{ form_row(filter_form.prixUnitaire, {'attr': {'class': 'form-control'}}) }}</div>
{% endblock %}

{% block empty_message %}Aucun câble dans le catalogue pour ce projet.{% endblock %}

{% block delete_confirm_message %}Supprimer les câbles sélectionnés ?{% endblock %}

{% block delete_button %}
    {% if is_granted('CAN_EDIT_CABLES', projet) %}
        <div class="mb-3">
            <button type="submit" class="btn btn-danger" id="delete-selected" disabled>Effacer les éléments sélectionnés</button>
        </div>
    {% endif %}
{% endblock %}

{% block table_headers %}
    {% if is_granted('CAN_EDIT_CABLES', projet) %}
        <th style="width: 5%;"><input type="checkbox" id="select-all"></th>
    {% endif %}
    <th style="width: 30%;">{{ knp_pagination_sortable(items, 'Nom', 'c.nom') }}</th> {# Ajusté pour plus d'espace #}
    <th style="width: 20%;">{{ knp_pagination_sortable(items, 'Type', 'c.type') }}</th>
    <th style="width: 20%;">{{ knp_pagination_sortable(items, 'Nombre de conducteurs', 'c.nbConducteurs') }}</th>
    <th style="width: 25%;">{{ knp_pagination_sortable(items, 'Prix unitaire', 'c.prixUnitaire') }}</th>
{% endblock %}

{% block table_body %}
    {% for catalogue in items %}
        <tr>
            {% if is_granted('CAN_EDIT_CABLES', projet) %}
                <td style="width: 5%;">
                    <input type="checkbox" name="selected_items[]" value="{{ catalogue.id }}"
                           class="select-item" {% if catalogue.id in selected_ids %}checked{% endif %}>
                </td>
            {% endif %}
            <td style="width: 30%;">
                {% if is_granted('CAN_EDIT_CABLES', projet) %}
                    <a href="{{ path('catalogue_projet_cables_edit', {'projetId': projet.id, 'id': catalogue.id}) }}">{{ catalogue.nom }}</a>
                {% else %}
                    {{ catalogue.nom }}
                {% endif %}
            </td>
            <td style="width: 20%;">{{ catalogue.type }}</td>
            <td style="width: 20%;">{{ catalogue.nbConducteurs }}</td>
            <td style="width: 25%;">{{ catalogue.prixUnitaire|number_format(2, '.', ',') }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block toggle_selection_path %}{{ path('catalogue_projet_cables_list', {'projetId': projet.id}) }}{% endblock %}

{% block items %}{{ catalogues }}{% endblock %}
