{# templates/cable/new.html.twig #}
{% extends 'layout/project_layout.html.twig' %}

{% set container_margin = false %} {# Pas de mt-4 ici #}

{% block title %}Ajouter un câble - {{ projet.nom }}{% endblock %}

{% block page_content %}
    <h1 class="text-white">Ajouter un câble pour {{ projet.nom }}</h1>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.nom, {'attr': {'class': 'form-control w-25'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.longueur, {'attr': {'class': 'form-control w-25'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.catalogueProjetCables, {'attr': {'class': 'form-control w-25'}}) }}
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary me-2">Ajouter</button>
            <a href="{{ path('cable_list', {'projetId': projet.id}) }}" class="btn btn-secondary">Retour à la liste</a>
        </div>
    {{ form_end(form) }}
{% endblock %}
