{# templates/catalogue_projet_borniers/edit.html.twig #}
{% extends 'layout/project_layout.html.twig' %}

{% set container_margin = false %}

{% block title %}Modifier un bornier du catalogue - {{ projet.nom }}{% endblock %}

{% block page_content %}
    <h1 class="text-white">Modifier {{ bornier.nom }} pour {{ projet.nom }}</h1>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.nom, {'attr': {'class': 'form-control w-25'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.nombreBornes, {'attr': {'class': 'form-control w-25'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.caracteristiques, {'attr': {'class': 'form-control w-25'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.prixUnitaire, {'attr': {'class': 'form-control w-25'}}) }}
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary me-2">Enregistrer</button>
            <a href="{{ path('catalogue_projet_borniers_list', {'projetId': projet.id}) }}" class="btn btn-secondary">Retour à la liste</a>
        </div>
    {{ form_end(form) }}
{% endblock %}
