{% extends 'base_list_catalogue.html.twig' %}

{% block list_title %}Borniers du projet {{ projet.nom }}{% endblock %}

{% block page_header %}Borniers du projet {{ projet.nom }}{% endblock %}

{% block item_type %}bornier(s){% endblock %}

{% block specific_buttons %}
    <div class="col-auto">
        <a href="{{ path('projet_show', {'id': projet.id}) }}" class="btn btn-secondary">Retour à {{ projet.nom }}</a>
    </div>
    {% if is_granted('CAN_EDIT_BORNIERS', projet) %}
        <div class="col-auto">
            <a href="{{ path('catalogue_projet_borniers_new', {'projetId': projet.id}) }}" class="btn btn-primary">Ajouter un bornier</a>
        </div>
        <div class="col-auto">
            <form method="post" action="{{ path('catalogue_projet_borniers_import', {'projetId': projet.id}) }}" style="display:inline;" onsubmit="return confirm('Importer les nouveaux borniers du catalogue modèle ? Les borniers existants resteront inchangés.');">
                <input type="hidden" name="_token" value="{{ csrf_token('import_borniers_' ~ projet.id) }}">
                <button type="submit" class="btn btn-primary">Importer les nouveaux borniers</button>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block filter_fields %}
    <div class="col">{{ form_row(filter_form.nom, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col">{{ form_row(filter_form.nombreBornes, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col">{{ form_row(filter_form.caracteristiques, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col">{{ form_row(filter_form.prixUnitaire, {'attr': {'class': 'form-control'}}) }}</div>
{% endblock %}

{% block empty_message %}Aucun bornier dans ce projet pour le moment.{% endblock %}

{% block delete_confirm_message %}Voulez-vous vraiment supprimer les borniers sélectionnés ?{% endblock %}

{% block table_headers %}
    {% if is_granted('CAN_EDIT_BORNIERS', projet) %}
        <th style="width: 5%;"><input type="checkbox" id="select-all"></th>
    {% endif %}
    <th style="width: 25%;">{{ knp_pagination_sortable(items, 'Nom', 'b.nom') }}</th> {# Augmenté de 20% à 25% #}
    <th style="width: 20%;">{{ knp_pagination_sortable(items, 'Nombre de bornes', 'b.nombreBornes') }}</th> {# Augmenté de 15% à 20% #}
    <th style="width: 25%;">{{ knp_pagination_sortable(items, 'Caractéristiques', 'b.caracteristiques') }}</th> {# Augmenté de 20% à 25% #}
    <th style="width: 25%;">Bornes</th> {# Augmenté de 20% à 25% #}
    <th style="width: 20%;">{{ knp_pagination_sortable(items, 'Prix unitaire', 'b.prixUnitaire') }}</th> {# Augmenté de 15% à 20% #}
{% endblock %}

{% block table_body %}
    {% for item in items %}
        <tr>
            {% if is_granted('CAN_EDIT_BORNIERS', projet) %}
                <td style="width: 5%;">
                    <input type="checkbox" name="selected_items[]" value="{{ item.id }}"
                           class="select-item" {% if item.id in selected_ids %}checked{% endif %}>
                </td>
            {% endif %}
            <td style="width: 25%;">
                {% if is_granted('CAN_EDIT_BORNIERS', projet) %}
                    <a href="{{ path('catalogue_projet_borniers_edit', {'projetId': projet.id, 'id': item.id}) }}">{{ item.nom }}</a>
                {% else %}
                    {{ item.nom }}
                {% endif %}
            </td>
            <td style="width: 20%;">{{ item.nombreBornes }}</td>
            <td style="width: 25%;">{{ item.caracteristiques|default('N/A') }}</td>
            <td style="width: 25%;">
                {% if item.catalogueBornes|length > 0 %}
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#bornes-{{ item.id }}" class="toggle-bornes">
                        Voir ({{ item.catalogueBornes|length }})
                    </a>
                    <div id="bornes-{{ item.id }}" class="collapse" style="max-height: 300px; overflow-y: auto;">
                        <ul class="mb-0">
                            {% for borne in item.catalogueBornes %}
                                <li>{{ borne.attribut|default('N/A') }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    Aucune borne
                {% endif %}
            </td>
            <td style="width: 20%;">{{ item.prixUnitaire|number_format(2, '.', ',') }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block toggle_selection_path %}{{ path('catalogue_projet_borniers_list', {'projetId': projet.id}) }}{% endblock %}
