{% extends 'base_list_catalogue.html.twig' %}

{% block list_title %}Catalogue des modèles de borniers{% endblock %}

{% block page_header %}Catalogue des modèles de borniers{% endblock %}

{% block item_type %}bornier(s){% endblock %}

{% block specific_buttons %}
    <div class="col-auto">
        <a href="{{ path('catalogue_modele_borniers_new') }}" class="btn btn-primary">Ajouter un modèle de bornier</a>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-danger" id="delete-selected" disabled>Effacer les éléments sélectionnés</button>
    </div>
{% endblock %}

{% block filter_fields %}
    <div class="col">{{ form_row(filter_form.nom, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col">{{ form_row(filter_form.nombreBornes, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col">{{ form_row(filter_form.caracteristiques, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col">{{ form_row(filter_form.prixUnitaire, {'attr': {'class': 'form-control'}}) }}</div>
{% endblock %}

{% block empty_message %}Aucun modèle de bornier disponible pour le moment.{% endblock %}

{% block delete_confirm_message %}Voulez-vous vraiment supprimer les modèles de borniers sélectionnés ?{% endblock %}

{% block table_headers %}
    <th style="width: 5%;"><input type="checkbox" id="select-all"></th>
    <th style="width: 25%;">{{ knp_pagination_sortable(items, 'Nom', 'b.nom') }}</th>
    <th style="width: 20%;">{{ knp_pagination_sortable(items, 'Nombre de bornes', 'b.nombreBornes') }}</th>
    <th style="width: 25%;">{{ knp_pagination_sortable(items, 'Caractéristiques', 'b.caracteristiques') }}</th>
    <th style="width: 20%;">{{ knp_pagination_sortable(items, 'Prix unitaire', 'b.prixUnitaire') }}</th>
    <th style="width: 25%;">Bornes</th>
{% endblock %}

{% block table_body %}
    {% for item in items %}
        <tr>
            <td style="width: 5%;">
                <input type="checkbox" name="selected_items[]" value="{{ item.id }}"
                       class="select-item" {% if item.id in selected_ids %}checked{% endif %}>
            </td>
            <td style="width: 25%;">
                <a href="{{ path('catalogue_modele_borniers_edit', {'id': item.id}) }}">{{ item.nom }}</a>
            </td>
            <td style="width: 20%;">{{ item.nombreBornes }}</td>
            <td style="width: 25%;">{{ item.caracteristiques|default('N/A') }}</td>
            <td style="width: 20%;">{{ item.prixUnitaire|number_format(2, '.', ',') }}</td>
            <td style="width: 25%;">
                {% if item.catalogueBornes|length > 0 %}
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#bornes-{{ item.id }}" class="toggle-bornes">
                        Voir ({{ item.catalogueBornes|length }})
                    </a>
                    <div id="bornes-{{ item.id }}" class="collapse" style="max-height: 300px; overflow-y: auto;">
                        <ul class="mb-0">
                            {% for borne in item.catalogueBornes %}
                                <li>{{ borne.attribut|default('N/A') }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    Aucune borne
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block toggle_selection_path %}{{ path('catalogue_modele_borniers_list') }}{% endblock %}
