{% extends 'base_list_catalogue.html.twig' %}

{% block list_title %}Catalogue des modèles de câbles{% endblock %}

{% block page_header %}Catalogue des modèles de câbles{% endblock %}

{% block item_type %}modèle(s){% endblock %}

{% block specific_buttons %}
    <div class="col-auto">
        <a href="{{ path('catalogue_modele_cables_new') }}" class="btn btn-primary">Ajouter un modèle de câble</a>
    </div>
{% endblock %}

{% block filter_fields %}
    <div class="col">{{ form_row(filter_form.nom, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col">{{ form_row(filter_form.type, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col">{{ form_row(filter_form.nbConducteurs, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col">{{ form_row(filter_form.prixUnitaire, {'attr': {'class': 'form-control'}}) }}</div>
{% endblock %}

{% block empty_message %}Aucun modèle de câble disponible pour le moment.{% endblock %}

{% block delete_confirm_message %}Voulez-vous vraiment supprimer les modèles sélectionnés ?{% endblock %}

{% block table_headers %}
    <th><input type="checkbox" id="select-all"></th>
    <th>{{ knp_pagination_sortable(items, 'Nom', 'c.nom') }}</th>
    <th>{{ knp_pagination_sortable(items, 'Type', 'c.type') }}</th>
    <th>{{ knp_pagination_sortable(items, 'Nb de conducteurs', 'c.nbConducteurs') }}</th>
    <th>Conducteurs</th>
    <th>{{ knp_pagination_sortable(items, 'Prix au mètre', 'c.prixUnitaire') }}</th>
    <th>Actions</th>
{% endblock %}

{% block table_body %}
    {% for catalogue in items %}
        <tr class="accordion-item">
            <td style="width: 5%;">
                <input type="checkbox" name="selected_items[]" value="{{ catalogue.id }}"
                       class="select-item" {% if catalogue.id in selected_ids %}checked{% endif %}>
            </td>
            <td style="width: 25%;">{{ catalogue.nom }}</td>
            <td style="width: 20%;">{{ catalogue.type }}</td>
            <td style="width: 15%;">{{ catalogue.nbConducteurs }}</td>
            <td style="width: 15%;">
                <button class="btn btn-link text-white p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ catalogue.id }}" aria-expanded="false" aria-controls="collapse{{ catalogue.id }}">
                    {% if catalogue.catalogueConducteurs|length > 0 %}
                        Voir ({{ catalogue.catalogueConducteurs|length }})
                    {% else %}
                        Aucun
                    {% endif %}
                </button>
                <div id="collapse{{ catalogue.id }}" class="collapse" data-bs-parent="#catalogueModeleCablesAccordion">
                    {% if catalogue.catalogueConducteurs|length > 0 %}
                        <ul class="list-unstyled mt-2">
                            {% for conducteur in catalogue.catalogueConducteurs|reverse %}
                                <li>{{ conducteur.attribut }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </td>
            <td style="width: 15%;">{{ catalogue.prixUnitaire|number_format(2, '.', ',') }}</td>
            <td style="width: 20%;">
                <a href="{{ path('catalogue_modele_cables_edit', {'id': catalogue.id}) }}" class="btn btn-sm btn-warning">Modifier</a>
                <form method="post" action="{{ path('catalogue_modele_cables_delete', {'id': catalogue.id}) }}" style="display:inline;" onsubmit="return confirm('Voulez-vous vraiment supprimer ce modèle ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ catalogue.id) }}">
                    <button type="submit" class="btn btn-sm btn-danger">Supprimer</button>
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block toggle_selection_path %}{{ path('catalogue_modele_cables_list') }}{% endblock %}

{% block items %}{{ catalogues }}{% endblock %}
